<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>



<script>
    var myApp = angular.module("myApp", []);
    myApp.controller("HttpPutController", function ($scope, $http) {
    	//this puts our data into a readable format for http requests?
        $scope.UpdateData = function () {
            var dataIn = $.param({
            	email: $scope.email,
                password: $scope.password,
                app: $scope.app


            });

            //keep getting authentication error
            $http.put('https://dev.tuten.cl:443/TutenREST/rest/user/testapis%40tuten.cl', dataIn)
			.then(function (data, status, headers, config){
            	console.log(response, 'res');
            	dataIn = data;
            },function(error){
            	console.log(error, "couldnt do it: " + dataIn);
            });

        };
    });
</script>



<!-- Here we receive input to log in -->
<div ng-app="myApp" ng-controller="HttpPutController">
    <h2>AngularJS Put request </h2>
    <form ng-submit="UpdateData()">
        <p>email <input type="text" name="firstName" value="testapis@tuten.cl" ng-model="email" required /></p>
        <p>password <input type="text" name="lastName" value="1234" ng-model="password" required /></p>
        <p>app : <input type="text" name="age value="APP_BCK" ng-model="app" required /></p>
        <input type="submit" value="Submit" />
        <hr />
        {{ ServerResponse }}
    </form>
</div>

</body>
</html>
